body {
	font-family: 'Lato', sans-serif;
}

nav {
	border-bottom: 1px solid black ;
}
header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

header {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.vert-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#zip-input {
	margin: auto;
	margin-top: 40px;
	margin-bottom: 20px;
	height: 2em;
	font-size: 2em;
	background: 0;
	color: white;
	border: 0;
	border-bottom: 3px solid white;
	outline: 0;
	text-align: center;
}

#zip-input::placeholder {
	color: white !important;

}

#zip-submit {
	margin-top: 20px;
	border: 2px solid white;
	color: white;
	
}

#zip-submit:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

section {
  height: 100vh;
}

.question-buttons {
	margin-top: 20px;
	margin-right: 10px;
	border: 2px solid black;
	color: black;
}

.question-buttons:hover {
	background-color: rgba(0, 0, 0, 0.05);
	border: 2px solid black;
	color: black;
}

#result-section h3{
	margin-top: 5px;
}
#listings-column {
	color: white;
	background-color: green;
	height: 100vh;
}

#map-column {
	height: 100vh;
	padding: 0px;
	margin: 0px;
}

#map-container {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/*modal*/


.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
}
	
.modal.right.fade.in .modal-dialog {
	right: 0;
}
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #EEEEEE;
	background-color: #FAFAFA;
}

/*granim styles*/

/*granim nav bar*/

.bloc-logo {
    position: relative;
    width: 150px;
    height: 65px;
    float: left;
    margin-top: -18px;
    margin-bottom: -3px;
}

.bloc-logo canvas,
.bloc-logo .logo-mask {
    display: block;
    width: 130px;
    height: 50px;
}

.bloc-logo .logo-mask {
    position: absolute;
    top: 0;
    left: 0;
    background-size: 130px;
    background-image: url("../images/granim.png");
    text-indent: -9999px;
}

/*granim header*/
#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}